@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #2c343b; }

a,
a:hover {
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

a,
.btn,
button,
input,
textarea {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input,
textarea {
  font-family: "Work Sans", sans-serif; }

ul {
  list-style: none;
  padding-left: 0; }

img {
  max-width: 100%; }

.redes-sociales li > a > img {
  max-width: initial; }

.redes-footer li > a > img {
  max-width: initial; }

iframe {
  width: 100%; }

.container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
  z-index: 5;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box; }

.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3;
  padding: 10px 0px;
  text-transform: capitalize;
  animation-duration: 2.5s; }

.title-flex {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  padding: 10px;
  text-transform: capitalize;
  padding-left: 0; }

.subtitle-flex {
  padding: 0px 0 30px 0;
  text-transform: capitalize; }

.text {
  text-align: center;
  max-width: 786px;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  padding: 10px 0; }

.text-flex {
  padding: 10px; }

.btn {
  background-color: #FF7F27;
  font-size: 1rem;
  padding: 0.625rem 2.188rem;
  display: inline-block;
  border-radius: 6px;
  border: 0px solid transparent;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

.btn:hover {
  background-color: #252422;
  color: #FF7F27; }

.flex {
  display: flex;
  gap: 5%; }

.redes-sociales {
  position: absolute;
  z-index: 3;
  right: -6rem; }

.redes-sociales li {
  margin-top: 5px; }

.redes-sociales li a {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #2c343b;
  background-color: #FFF;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px; }

.line {
  position: relative;
  border-bottom: 1px solid #bdbcbc;
  width: 12%; }

.cuidado-calificado {
  padding: 3.125rem 0 3.125rem 0;
  background-color: #CCC5B9; }
  .cuidado-calificado .container {
    display: grid;
    grid-template-areas: "title btn-precios";
    align-items: center;
    justify-content: space-evenly; }
  .cuidado-calificado h3.title {
    grid-area: title;
    color: #FFF; }
  .cuidado-calificado .btn-precios {
    grid-area: btn-precios; }
  .cuidado-calificado .btn-precios button.btn {
    background: #ffedd5; }

.bg-principal {
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  color: #fff;
  background-image: url(../img/bg-imagen-02.jpg);
  background-position: center left; }

.container {
  display: grid;
  grid-template-areas: "title-bg" "text-left"; }

.container .text-left {
  grid-area: text-left; }

.container .title-bg {
  grid-area: title-bg; }

.container .text-left .title {
  text-shadow: 0 0 15px #6e6e6e;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: #29293a;
  font-size: 3.625rem; }

.container .text-left ul {
  display: flex;
  color: #29293a; }

.container .text-left ul > li .redirection {
  margin-right: 10px;
  color: #29293a; }

.container .text-left ul > li .redirection::after {
  content: "";
  display: inline-block;
  border: solid #29293a;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-transform: translateX(60%) rotate(-47deg); }

.container .text-left ul .url-actual {
  margin-left: 10px;
  text-transform: capitalize; }

.line p {
  text-transform: uppercase;
  font-size: 12px; }

p.title-bg {
  color: #29293a;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  padding-left: 36px;
  font-family: "Oswald", sans-serif; }

p.title-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em;
  width: 30px;
  border-bottom: 1px solid; }

.bubbly-button {
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FF7F27;
  color: #FFFCF2;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 15px #FF7F27;
  border-radius: 1rem; }
  .bubbly-button .text-btn {
    text-transform: uppercase;
    font-family: Oswald, sans-serif; }
  .bubbly-button:focus {
    outline: 0; }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FF7F27 20%, transparent 30%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF7F27 15%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF7F27 15%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%), radial-gradient(circle, #FF7F27 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #ff700e;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards; }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%; } }

@media screen and (max-width: 900px) {
  header#page-header .container {
    column-gap: 1rem;
    grid-template-areas: "image-logo responsive-menu"; }
    header#page-header .container .responsive-menu {
      display: block;
      position: absolute;
      right: 0;
      background-color: transparent;
      border: 0;
      top: 0;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -ms-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
      grid-area: responsive-menu; }
      header#page-header .container .responsive-menu .responsive-menu > div {
        background-color: #FF7F27;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
      header#page-header .container .responsive-menu .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out; }
        header#page-header .container .responsive-menu .wrapper ul {
          position: absolute;
          top: 50%;
          width: max-content;
          left: 50%;
          transform: translate(-50%, -50%);
          list-style: none;
          text-align: left; }
          header#page-header .container .responsive-menu .wrapper ul li {
            margin: 15px 0; }
            header#page-header .container .responsive-menu .wrapper ul li a {
              color: none;
              text-decoration: none;
              font-size: 1.5rem;
              font-weight: 500;
              padding: 5px 25px;
              color: #FFF;
              border-radius: 50px;
              background: #000;
              position: relative;
              line-height: 50px;
              transition: all 0.3s ease; }
            header#page-header .container .responsive-menu .wrapper ul li a:after {
              position: absolute;
              content: "";
              background: #FFF;
              border: #000;
              width: 104%;
              height: 110%;
              left: -2%;
              top: -5%;
              border-radius: 50px;
              transform: scaleY(0);
              z-index: -1;
              animation: rotate 1.5s linear infinite;
              transition: transform 0.3s ease; }
            header#page-header .container .responsive-menu .wrapper ul li a:hover:after {
              transform: scaleY(1); }
            header#page-header .container .responsive-menu .wrapper ul li .wrapper ul li a:hover {
              color: #FFF; }
      header#page-header .container .responsive-menu #active:checked ~ .wrapper {
        clip-path: circle(75%); }
      header#page-header .container .responsive-menu .menu-btn {
        position: absolute;
        z-index: 2;
        right: 5%;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #000;
        cursor: pointer;
        background: #FFF;
        transition: all 0.3s ease-in-out; }
      header#page-header .container .responsive-menu #active:checked ~ .menu-btn {
        color: #FFF; }
      header#page-header .container .responsive-menu #active:checked ~ .menu-btn i:before {
        content: "\f00d"; }
      header#page-header .container .responsive-menu input[type="checkbox"] {
        display: none; }
    header#page-header .container .menu-nav {
      display: none; }
  .spa-home {
    height: auto; }
    .spa-home .container {
      padding: 10rem 1rem 10rem 1rem;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-areas: "text-left" "carousel";
      justify-content: center; }
      .spa-home .container .text-left {
        position: absolute;
        z-index: 1; }
      .spa-home .container .redes-sociales {
        right: -6rem; }
    .spa-home .spa-home .container .carousel.slide {
      grid-area: carousel; }
      .spa-home .spa-home .container .carousel.slide .carousel-inner .carousel-item {
        background-color: #FFF; }
        .spa-home .spa-home .container .carousel.slide .carousel-inner .carousel-item img {
          opacity: 0.5; }
    .spa-home .spa-home .container .text-left .title {
      filter: drop-shadow(2px 4px 4px black); } }

@media screen and (max-width: 900px) {
  footer .container {
    grid-template-columns: 1fr;
    grid-template-areas: "logo-footer" "item-servicios" "item-ayuda" "item-redes" "copy-right"; }
    footer .container .row .col-sm, footer .container .row .col-md-3 {
      padding: 0.5rem; }
  .line-divider {
    position: relative;
    padding: 25px 20px 0; }
  .linea-tiempo .item {
    grid-template-areas: "line-divider line-divider"; }
  .toma-turno .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagen-left" "right"; } }

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-custom .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row; }
    .navbar-expand-custom .navbar-toggler {
      display: none; }
    .navbar-expand-custom .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }

@media screen and (max-width: 700px) {
  .spa-home .text-left .redes-sociales {
    top: 13%; }
    .spa-home .text-left .redes-sociales ul {
      display: flex; }
  .spa-home .text-left btn-consulta {
    display: flex;
    justify-content: center; }
  .items-garantizado .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "item-one" "item-two" "item-three" "item-four";
    justify-items: center; }
  .bg-principal {
    background-image: none;
    background-color: #CCC5B9; }
    .bg-principal .container .text-left .title {
      font-size: 2.5rem; }
    .bg-principal .container .redes-sociales {
      display: none; }
  .contacto-icons .container {
    grid-template-areas: "phone-contact" "mail-contact" "map-contact"; }
  .presentacion-spa .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left" "right"; } }

@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0; }
  .quality-team {
    width: 100%;
    margin: 0 auto; }
    .quality-team .card-box {
      flex: auto; } }

@media only screen and (min-width: 768px) {
  .quality-team .card-box {
    flex: 1; } }

@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem; }
  .quality-team {
    margin: 0 auto; } }

@media screen and (max-width: 460px) {
  .card-box .item-card {
    margin: 1rem; } }

/* CONTACTO ICONS */
.contacto-icons {
  padding: 3.125rem 0 3.125rem 0; }
  .contacto-icons .container {
    display: grid;
    grid-template-areas: "phone-contact mail-contact map-contact";
    justify-items: center; }
    .contacto-icons .container .phone-contact {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contacto-icons .container .phone-contact {
      grid-area: phone-contact; }
    .contacto-icons .container .mail-contact {
      grid-area: mail-contact;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contacto-icons .container .map-contact {
      grid-area: map-contact;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .contacto-icons .container figure > img {
    padding: 1rem; }

.contacto-form {
  padding: 3.125rem 0 3.125rem 0; }
  .contacto-form .container {
    display: grid;
    grid-template-areas: "item-formulario item-map";
    justify-items: center;
    width: auto;
    align-items: center;
    column-gap: 5%; }
    .contacto-form .container .item-formulario {
      grid-area: item-formulario; }
      .contacto-form .container .item-formulario .bg {
        padding: 3.125rem;
        background-color: #f1f1f1;
        border-radius: 0.438rem; }
      .contacto-form .container .item-formulario .item-formulario label .flex > div {
        padding: 0.625rem 0.625rem 0.625rem 0; }
      .contacto-form .container .item-formulario .form-input {
        display: block;
        width: 100%;
        min-height: 48px;
        padding: 11px 19px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #2c343b;
        background-color: #FFF;
        background-image: none;
        border-radius: 6px;
        -webkit-appearance: none;
        transition: 0.3s ease-in-out;
        border: 1px solid transparent; }
      .contacto-form .container .item-formulario textarea.form-input {
        height: 9.375rem;
        min-height: 48px;
        max-height: 255px;
        resize: vertical; }
      .contacto-form .container .item-formulario .btn-formulario {
        padding-top: 1.875rem; }
    .contacto-form .container .item-map {
      grid-area: item-map;
      width: 100%; }
      .contacto-form .container .item-map .item-map map > iframe {
        border-radius: 0.3rem; }

.linea-tiempo {
  padding: 3.125rem 0 3.125rem 0;
  background-color: #FFF; }
  .linea-tiempo .container .item {
    position: relative;
    overflow: hidden;
    padding: 0 0 67px 2px;
    margin-bottom: -25px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imagen-flex line-divider date"; }
    .linea-tiempo .container .item .imagen-flex {
      grid-area: imagen-flex;
      padding: 10px; }
      .linea-tiempo .container .item .imagen-flex img {
        width: 397px;
        height: auto; }
    .linea-tiempo .container .item .line-divider {
      grid-area: line-divider;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.563rem; }
    .linea-tiempo .container .item .date {
      padding: 0 10px 0 10px;
      max-width: 500px;
      grid-area: date; }
    .linea-tiempo .container .item .line-divider::before {
      content: "";
      display: block;
      width: 0.938rem;
      height: 0.938rem;
      border: 2px solid #FF7F27;
      border-radius: 50%; }
    .linea-tiempo .container .item .line-divider::after {
      content: "";
      display: block;
      position: absolute;
      top: 2.655rem;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 70vh;
      background: #FF7F27;
      min-height: 6.25rem; }

.pricing {
  padding: 3.125rem 0 3.125rem 0;
  background-color: #f5f6fa; }
  .pricing .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "title title title" "basic-package advanced-package pro-package"; }
    .pricing .container h2.title {
      text-align: center;
      grid-area: title; }
    .pricing .container .basic-package {
      grid-area: basic-package; }
      .pricing .container .basic-package .bg a {
        color: #252422; }
    .pricing .container .advanced-package {
      grid-template-areas: advanced-package; }
      .pricing .container .advanced-package .bg a {
        color: #252422; }
    .pricing .container .pro-package {
      grid-template-areas: pro-package; }
      .pricing .container .pro-package .bg a {
        color: #252422; }

.quienes-somos {
  padding: 3.125rem 0 3.125rem 0; }
  .quienes-somos .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: "title title" "info-fundadora info-peluquero" "info-estilista info-gerente";
    justify-items: center; }
    .quienes-somos .container h4.title {
      text-align: center;
      margin-bottom: 50px;
      grid-area: title; }
    .quienes-somos .container .team.info-fundadora {
      grid-area: info-fundadora; }
    .quienes-somos .container .team.info-peluquero {
      grid-area: info-peluquero; }
    .quienes-somos .container .team.info-estilista {
      grid-area: info-estilista; }
    .quienes-somos .container .team.info-gerente {
      grid-area: info-gerente; }
    .quienes-somos .container .team .flex figure {
      width: 100%; }

@media screen and (max-width: 700px) {
  .linea-tiempo .container {
    grid-template-areas: "line-divider" "date"; }
    .linea-tiempo .container .item {
      display: flex; }
      .linea-tiempo .container .item .imagen-flex {
        display: none; }
  .pricing .container {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "basic-package" "advanced-package" "pro-package";
    align-items: center; }
  .quienes-somos .container {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "info-fundadora" "info-peluquero" "info-estilista" "info-gerente"; } }

.presentacion-spa {
  padding: 3.125rem 0 3.125rem 0; }
  .presentacion-spa .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    align-items: center; }
    .presentacion-spa .container .left {
      grid-area: left; }
      .presentacion-spa .container .left p.title {
        text-align: left;
        margin: 0; }
      .presentacion-spa .container .left p.text {
        text-align: left;
        margin-left: 0;
        max-width: 85%; }
      .presentacion-spa .container .left button.btn {
        margin-top: 0.5rem; }
    .presentacion-spa .container .right {
      grid-area: right; }

.servicios-spa {
  padding: 3.125rem 0 3.125rem 0; }
  .servicios-spa .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center; }
    .servicios-spa .container .galeria .flex {
      gap: 0;
      flex-wrap: wrap;
      justify-content: center; }

.toma-turno {
  background-color: #FFF;
  padding: 3.125rem 0 3.125rem 0; }
  .toma-turno .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen-left right";
    justify-items: center; }
    .toma-turno .container .imagen-left {
      grid-area: imagen-left; }
    .toma-turno .container .right {
      grid-area: right; }
      .toma-turno .container .right h3.title {
        margin: 0; }
      .toma-turno .container .right p.text {
        text-align: left; }
      .toma-turno .container .right button.btn {
        margin-top: 0.5rem; }

.galeria-portfolio {
  padding: 3.125rem 0 3.125rem 0; }
  .galeria-portfolio .container {
    display: grid; }
    .galeria-portfolio .container ul.filtrar-tipos.flex {
      grid-gap: 30px; }
      .galeria-portfolio .container ul.filtrar-tipos.flex a::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        transition: 0.4s;
        background: #000; }
    .galeria-portfolio .container ul.filtrar-tipos.flex::after {
      content: "";
      position: absolute;
      left: 35px;
      right: 0;
      top: 30px;
      border-bottom: 1px solid #e8e9ee; }
    .galeria-portfolio .container .tipos-servicios.flex .galeria-images {
      padding: 20px 16px 0 0; }

.spa-home {
  padding: 3.125rem 0 3.125rem 0;
  position: relative;
  z-index: 3; }
  .spa-home .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text-left carousel";
    justify-items: center;
    align-items: center; }
    .spa-home .container .text-left {
      grid-area: text-left; }
      .spa-home .container .text-left .redes-sociales {
        position: absolute;
        z-index: 3;
        right: 1rem;
        transform: translateY(50%); }
        .spa-home .container .text-left .redes-sociales ul {
          list-style: none;
          flex-direction: column; }
          .spa-home .container .text-left .redes-sociales ul li {
            margin-top: 5px; }
            .spa-home .container .text-left .redes-sociales ul li a {
              border-radius: 50%;
              box-shadow: 2px 2px 2px 2px #85858533;
              background-color: #fff;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 16px; }
      .spa-home .container .text-left .bg h1.title {
        font-size: 3rem; }
        .spa-home .container .text-left .bg h1.title span {
          font-weight: 300; }
    .spa-home .container .carousel.slide {
      grid-area: carousel; }

@media screen and (max-width: 900px) {
  .spa-home {
    height: auto; }
    .spa-home .container {
      padding: 10rem 1rem 10rem 1rem;
      grid-template-columns: 1fr;
      grid-template-areas: "text-left" "carousel";
      justify-content: center; }
      .spa-home .container .text-left {
        position: absolute;
        z-index: 1;
        top: 10%; }
      .spa-home .container .redes-sociales {
        right: -6rem;
        display: none; }
    .spa-home .spa-home .container .carousel.slide {
      grid-area: carousel; }
      .spa-home .spa-home .container .carousel.slide .carousel-inner .carousel-item {
        background-color: #FFF; }
        .spa-home .spa-home .container .carousel.slide .carousel-inner .carousel-item img {
          opacity: 0.5; }
    .spa-home .spa-home .container .text-left .title {
      filter: drop-shadow(2px 4px 4px black); } }

.sobre-nosotros {
  padding: 3.125rem 0 3.125rem 0;
  background-color: #FFFCF2; }
  .sobre-nosotros .container {
    display: grid;
    grid-template-areas: "title" "text" "btn-vermas";
    justify-content: center;
    justify-items: center; }
    .sobre-nosotros .container .text {
      grid-area: text; }
    .sobre-nosotros .container .btn-vermas {
      padding-top: 30px;
      justify-self: center;
      grid-area: btn-vermas; }

#items-garantizado {
  padding: 3.125rem 0 3.125rem 0; }
  #items-garantizado .container .row {
    align-items: center; }
    #items-garantizado .container .row .quality-team {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #items-garantizado .container .row .quality-team .card-box {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      #items-garantizado .container .row .quality-team .item-card {
        flex: 0 50%;
        background: #fff;
        box-shadow: 0 2px 4px 0 #8890c333, 0 5px 15px 0 #252c6126;
        border-radius: 1rem;
        margin: 1.9rem;
        padding: 10px 15px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        min-height: 265px;
        transition: 0.7s; }
      #items-garantizado .container .row .quality-team .item-card:hover {
        background: #FF7F27;
        color: #FFF;
        transform: scale(1.1);
        z-index: 9; }
      #items-garantizado .container .row .quality-team .item-card:hover::before {
        background: #556cd61a; }
      #items-garantizado .container .row .quality-team .item-card:before {
        content: "";
        position: absolute;
        background: #556cd60d;
        width: 170px;
        height: 400px;
        z-index: -1;
        transform: rotate(42deg);
        right: -56px;
        top: -23px;
        border-radius: 35px; }
      #items-garantizado .container .row .quality-team p.title-flex {
        color: #252422;
        font-size: 1.3rem;
        margin-top: 13px;
        margin-bottom: 13px; }
      #items-garantizado .container .row .quality-team .text-flex p {
        font-size: 15px;
        margin-bottom: 15px; }
      #items-garantizado .container .row .quality-team .hover_color_bubble {
        position: absolute;
        background: #3651cf26;
        width: 100rem;
        height: 100rem;
        left: 0;
        right: 0;
        z-index: -1;
        top: 16rem;
        border-radius: 50%;
        transform: rotate(-36deg);
        left: -18rem;
        transition: 0.7s; }
      #items-garantizado .container .row .quality-team .item-card:hover .hover_color_bubble {
        top: 0rem; }
      #items-garantizado .container .row .quality-team .icon-calificated {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }
      #items-garantizado .container .row .quality-team .icon-calificated img {
        width: 26px;
        height: 26px;
        object-fit: contain; }

.cuidado-calificado {
  padding: 3.125rem 0 3.125rem 0; }
  .cuidado-calificado .container {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title btn-precios"; }

@media screen and (max-width: 900px) {
  .cuidado-calificado .container {
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas: "title" "btn-precios"; } }

.servicios {
  padding: 3.125rem 0 3.125rem 0; }
  .servicios .container {
    grid-template-areas: "title title" "text text" "item-first item-last";
    justify-content: center;
    justify-items: center; }
    .servicios .container h4.title {
      grid-area: title; }
    .servicios .container p.text {
      grid-area: text; }
    .servicios .container .item-first {
      grid-area: item-first; }
    .servicios .container .item-last {
      grid-area: item-last; }
    .servicios .container .image-flex {
      margin: 1rem; }

@media screen and (max-width: 700px) {
  .servicios .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title" "text" "item-first" "item-last"; } }

@media screen and (max-width: 900px) {
  .contacto-form .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item-formulario" "item-map";
    padding: initial; }
    .contacto-form .container .item-formulario {
      width: 100%; }
      .contacto-form .container .item-formulario .bg {
        padding: 1.5rem; }
        .contacto-form .container .item-formulario .bg .flex {
          display: block;
          width: 100%; }
          .contacto-form .container .item-formulario .bg .flex label {
            width: 100%; } }

header#page-header {
  background-color: #252422;
  position: fixed;
  grid-area: header;
  height: auto;
  padding: 1.25rem;
  display: block;
  width: 100%;
  top: 0;
  z-index: 6; }
  header#page-header .container {
    display: grid;
    padding: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image-logo menu-nav";
    justify-items: center;
    max-width: initial;
    column-gap: 9rem;
    align-items: center; }
  header#page-header .menu-nav {
    grid-area: menu-nav; }
  header#page-header ul.menu {
    display: flex;
    flex-wrap: nowrap; }
  header#page-header .menu-item a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: #FFFCF2;
    letter-spacing: 0.08em;
    font-weight: 500;
    font-size: 1rem; }
  header#page-header .menu-item a:hover {
    color: #CCC5B9;
    border-radius: 6px;
    border: 0px solid transparent; }
  header#page-header .page-header li.menu-item a:active {
    color: #FFF; }
  header#page-header .page-header figure.image-logo {
    grid-area: image-logo; }
  header#page-header .responsive-menu {
    display: none; }

/* FOOTER */
.footer-20192 {
  position: relative;
  color: #FFF;
  padding: 7rem 0;
  background-color: #252422;
  text-transform: capitalize; }
  .footer-20192 .container {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-areas: "logo-footer" "item-servicios" "item-ayuda" "item-redes" "copy-right"; }
  .footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5; }
  .footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block; }
  .footer-20192 li a {
    color: #666873; }
  .footer-20192 .links li a:hover {
    color: #FFF; }
  .footer-20192 .social li {
    display: inline-block;
    position: relative; }
  .footer-20192 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #FFFCF2;
    color: #FFF; }
  .footer-20192 .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .footer-20192 .footer-logo {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }
  .footer-20192 .footer-logo {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }
  .footer-20192 .copyright {
    color: #666873; }
  .footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 20px;
    background-color: #8186d5;
    top: -150px;
    position: relative; }
  .footer-20192 .cta h2,
  .footer-20192 .cta h6 {
    line-height: 1.5; }
  .footer-20192 .cta h6 {
    font-size: 20px; }
  .footer-20192 .row {
    text-align: center; }
