* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  /* COLORS */
  --c-primary: #eb5e28;
  --c-secondary: #fffcf2;
  --c-terciary: #252422;
  --c-fourth: #ccc5b9;
  --c-hover: #403d39;

  /* ANIMACIONES */

  --animate-delay: 0.5s;
  --animate-duration: 800ms;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: rgb(41, 41, 58);
}

/* GENERAL */

a,
a:hover {
  text-decoration: none;
  color: var(--c-hover);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
.btn,
button,
input,
textarea {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input,
textarea {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  max-width: 100%;
}
.redes-sociales li > a > img {
  max-width: initial;
}
.redes-footer li > a > img {
  max-width: initial;
}
iframe {
  width: 100%;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
  z-index: 5;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3;
  padding: 10px 0px;
  text-transform: capitalize;
  animation: fadeIn;
  animation-duration: 2.5s;
}
.title-flex {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  padding: 10px;
  text-transform: capitalize;
  padding-left: 0;
}
.subtitle-flex {
  padding: 0px 0 30px 0;
  text-transform: capitalize;
}
.text {
  text-align: center;
  max-width: 786px;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  padding: 10px 0;
}
.text-flex {
  padding: 10px;
}
.btn {
  background: rgb(251, 183, 95);
  background: linear-gradient(
    312deg,
    rgba(251, 183, 95, 1) 53%,
    rgba(246, 145, 0, 1) 95%
  );
  font-size: 1rem;
  padding: 0.625rem 2.188rem;
  display: inline-block;
  border-radius: 6px;
  border: 0px solid transparent;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.8;
}
.btn a:hover {
  color: #fff;
  opacity: 3;
}

.flex {
  display: flex;
  gap: 5%;
  /* flex-wrap: wrap; */
}
.redes-sociales {
  position: absolute;
  z-index: 3;
  right: -6rem;
  /* transform: translateY(50%); */
}
.redes-sociales li {
  margin-top: 5px;
}
.redes-sociales li a {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgb(133 133 133 / 20%);
  background-color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.line {
  position: relative;
  border-bottom: 1px solid #bdbcbc;
  width: 12%;
}

header#page-header {
  grid-area: header;
  height: auto;
  padding: 20px;
  display: block;
  background-color: var(--c-terciary);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
}
header#page-header .container {
  display: grid;
  padding: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image-logo menu-nav";
  justify-items: center;
  max-width: initial;
  column-gap: 9rem;
  align-items: center;
}
header#page-header nav.menu-nav {
  grid-area: menu-nav;
}
header#page-header ul.menu {
}
header#page-header li.menu-item {
  display: inline-block;
}
header#page-header li.menu-item a {
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: #fff;
  letter-spacing: 0.08em;
  font-weight: 500;
  font-size: 1rem;
}
header#page-header li.menu-item a:hover {
  color: var(--c-fourth);
  border-radius: 6px;
  border: 0px solid transparent;
}
header#page-header li.menu-item a:active {
  color: rgb(255, 255, 255);
}
header#page-header figure.image-logo {
  grid-area: image-logo;
}
header .responsive-menu {
  display: none;
}

/* MAIN */

main {
  grid-area: main;
  width: 100%;
  height: auto;
  /* border: 1px solid grey; */
}

/* ---------HOME-------------- */

.spa-home {
  position: relative;
  z-index: 3;
}
.spa-home .container {
  max-width: initial;
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text-left carousel";
  justify-items: center;
  align-items: center;
}
#carouselExampleControls .carousel.slide {
  grid-area: carousel;
}
.spa-home .container .text-left {
  grid-area: text-left;
}
.spa-home .container .text-left .bg {
}
.spa-home.bg-principal {
  display: inline-flex;
  width: 100%;
  height: auto;
}

.spa-home .bg-image {
  grid-area: bg-image;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
}
.spa-home .bg-image img {
  display: block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  pointer-events: none;
  object-fit: cover;
}
.spa-home .container .carousel.slide .carousel-inner .carousel-item img {
}
.spa-home .container h1.title span {
  font-weight: 300;
}
.spa-home .redes-sociales {
  position: absolute;
  z-index: 3;
  right: 1rem;
  transform: translateY(50%);
}
.spa-home .redes-sociales .row {
}
.shadow-lg.p-3.mb-5.bg-body.rounded.col-4 {
}
.spa-home .redes-sociales ul {
  list-style: none;
}
.spa-home .redes-sociales li {
  margin-top: 5px;
}
.spa-home .redes-sociales li a {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgb(133 133 133 / 20%);
  background-color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}


.sobre-nosotros .text {
  grid-area: text;
}
.sobre-nosotros .container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas:
    "title"
    "text"
    "btn-vermas";
}
.sobre-nosotros .btn-vermas {
  padding-top: 30px;
  justify-self: center;
  grid-area: btn-vermas;
}

/* CUIDADO CALIFICADO */

.cuidado-calificado {
  padding: 50px 0 50px 0;
  background: var(--c-primary);
}
.cuidado-calificado .container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas: "title btn-precios";
  align-items: center;
  justify-content: space-evenly;
}

.cuidado-calificado h3.title {
  grid-area: title;
  color: #fff;
}
.cuidado-calificado .btn-precios {
  grid-area: btn-precios;
}
.cuidado-calificado .btn-precios button.btn {
  background: #ffedd5;
}

/* ITEMS GARANTIZADO */

section#items-garantizado {
  padding: 3rem 0 3rem;
}

.items-garantizado .row {
  align-items: center;
}

.quality-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.quality-team .card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-box .item-card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 1rem;
  margin: 1.9rem;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.card-box .item-card:hover {
  background: var(--c-primary);
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.card-box .item-card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.card-box .item-card:hover .title-flex,
.card-box .item-card:hover .text-flex p {
  color: #fff;
}

.card-box .item-card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.item-card .icon-calificated {
}

.item-card p.title-flex {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.item-card .text-flex p {
  font-size: 15px;
  margin-bottom: 15px;
}

.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.card-box .item-card:hover .hover_color_bubble {
  top: 0rem;
}

.card-box .item-card .icon-calificated {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-box .item-card .icon-calificated img {
  width: 26px;
  height: 26px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .quality-team {
    width: 100%;
    margin: 0 auto;
  }

  .quality-team .card-box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .quality-team .card-box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .quality-team {
    /* width: 50%; */
    margin: 0 auto;
  }
}
@media screen and (max-width: 460px) {
  .card-box .item-card {
    margin: 1rem;
  }
}
/* SERVICIOS */

.servicios {
  padding: 50px 0 50px 0;
  background-color: var(--c-secondary);
}

.servicios .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: ;
  grid-template-areas:
    "title title"
    "text text"
    "item-first item-last";
  justify-items: center;
}
.servicios .container h4.title {
  grid-area: title;
}
.servicios .container .text {
  grid-area: text;
}
.servicios .container .item-first {
  grid-area: item-first;
}
.servicios .container .item-last {
  grid-area: item-last;
}
.servicios a.section-styling {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 6px;
}
.servicios a.section-styling::before {
  content: "";
  display: block;
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(44, 52, 59, 0.3);
  transition: 0.22s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* servicios */

.servicios-spa {
}
.servicios-spa .container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas: ;
  justify-items: center;
}
.servicios-spa .container .galeria {
}
.servicios-spa .container .galeria .flex {
  gap: 0;
  flex-wrap: wrap;
  justify-content: center;
}
/* CONTACTO FORMULARIO */

.contacto-form {
  padding: 50px 0 50px 0;
}
.contacto-form .container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas: "item-formulario item-map";
  justify-items: center;
  width: auto;
  align-items: center;
  column-gap: 5%;
}
.contacto-form .container .item-formulario {
  grid-area: item-formulario;
}
.contacto-form .container .item-map {
  grid-area: item-map;
  width: 100%;
}
.contacto-form .container .item-map map iframe {
  border-radius: 0.3rem;
}
.contacto-form .item-formulario .bg {
  padding: 50px;
  background-color: #f1f1f1;
  border-radius: 7px;
}
.contacto-form .item-formulario label .flex > div {
  padding: 10px 10px 10px 0;
}
.contacto-form .form-input {
  display: block;
  width: 100%;
  min-height: 48px;
  padding: 11px 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2c343b;
  background-color: #fff;
  background-image: none;
  border-radius: 6px;
  -webkit-appearance: none;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}
.contacto-form textarea.form-input {
  height: 150px;
  min-height: 48px;
  max-height: 255px;
  resize: vertical;
}
.contacto-form .btn-formulario {
  padding-top: 30px;
}

/* ---------CONTACTO------------ */

/* BG CONTACTO */

.bg-principal {
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  color: #fff;
  background-image: url(../img/bg-imagen-02.jpg);
  background-position: center left;
}
.bg-principal .container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas:
    "title-bg"
    "text-left";
}
.bg-principal .container .text-left {
  grid-area: text-left;
}

.bg-principal .container .title-bg {
  grid-area: title-bg;
}
.bg-principal .container .text-left .title {
  text-shadow: 0 0 15px #6e6e6e;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: #29293a;
  font-size: 3.625rem;
}
.bg-principal .container .text-left {
}
.bg-principal .container .text-left ul {
  display: flex;
  color: #29293a;
}
.bg-principal .container .text-left ul > li {
}
.bg-principal .container .text-left ul > li .redirection {
  margin-right: 10px;
  color: #29293a;
}
.bg-principal .container .text-left ul > li .redirection::after {
  content: "";
  display: inline-block;
  border: solid #29293a;
  border-width: 0 2px 2px 0;
  padding: 3px;
  /* transform: translateX(-50%) rotate(45deg); */
  -webkit-transform: translateX(60%) rotate(-47deg);
}
.bg-principal .container .text-left ul .url-actual {
  margin-left: 10px;
  text-transform: capitalize;
}
.bg-principal .line p {
  text-transform: uppercase;
  font-size: 12px;
}
.bg-principal p.title-bg {
  color: #29293a;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  padding-left: 36px;
  font-family: "Oswald", sans-serif;
}
.bg-principal p.title-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em;
  width: 30px;
  border-bottom: 1px solid;
}

/* CONTACTO ICONS */

.contacto-icons {
  padding: 50px 0 50px 0;
}
.contacto-icons .container {
  display: grid;
  grid-template-rows: ;
  grid-template-columns: ;
  grid-template-areas: "phone-contact mail-contact map-contact";
  justify-items: center;
}
.contacto-icons .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-icons .container .phone-contact {
  grid-area: phone-contact;
}
.contacto-icons .container .mail-contact {
  grid-area: mail-contact;
}
.contacto-icons .container .map-contact {
  grid-area: map-contact;
}
.contacto-icons .container figure img {
  padding: 1rem;
}

/* ---------SOBRE NOSOTROS------------ */

.linea-tiempo {
  padding: 50px 0 50px 0;
  background-color: #fff;
}
.linea-tiempo .item {
  position: relative;
  overflow: hidden;
  padding: 0 0 67px 2px;
  margin-bottom: -25px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "imagen-flex line-divider date";
}
.linea-tiempo .item.box-first {
}
.linea-tiempo .item.box-secondary {
}
.linea-tiempo .item.box-terciary {
}
.linea-tiempo .imagen-flex {
  grid-area: imagen-flex;
  padding: 10px;
}
.linea-tiempo .imagen-flex img {
  width: 397px;
  height: auto;
}
.line-divider {
  /* position: absolute; */
  grid-area: line-divider;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.563rem;
}
.linea-tiempo .date {
  padding: 0 10px 0 10px;
  max-width: 500px;
  grid-area: date;
}
.linea-tiempo .line-divider::before {
  content: "";
  display: block;
  width: 0.938rem;
  height: 0.938rem;
  border: 2px solid var(--c-primary);
  border-radius: 50%;
}
.linea-tiempo .line-divider::after {
  content: "";
  display: block;
  position: absolute;
  top: 2.655rem;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 70vh;
  background: var(--c-primary);
  min-height: 6.25rem;
}

/* PRICING */

.pricing {
  background-color: #f5f6fa;
  padding: 2rem 0 2rem 0;
}
.pricing h2.title {
  text-align: center;
  grid-area: title;
}
.pricing .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    "title title title"
    "basic-package advanced-package pro-package";
}

.pricing .precios-spa .basic-package {
  grid-area: basic-package;
}
.pricing .precios-spa .advanced-package {
  grid-area: advanced-package;
}
.pricing .precios-spa .pro-package {
  grid-area: pro-package;
}
/* QUIENES SOMOS */

.quienes-somos {
  padding: 50px 0 50px 0;
}
.quienes-somos .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    "title title"
    "info-fundadora info-peluquero"
    "info-estilista info-gerente";
  justify-items: center;
}
.quienes-somos h4.title {
  text-align: center;
  margin-bottom: 50px;
  grid-area: title;
}
.quienes-somos .team .flex figure {
  width: 100%;
}
.quienes-somos .flex figure img {
  width: 100%;
}
.quienes-somos .team.info-fundadora {
  grid-area: info-fundadora;
}
.quienes-somos .team.info-peluquero {
  grid-area: info-peluquero;
}
.quienes-somos .team.info-estilista {
  grid-area: info-estilista;
}
.quienes-somos .team.info-gerente {
  grid-area: info-gerente;
}

/* ---------SERVICIOS------------ */

.presentacion-spa {
  padding: 50px 0 50px 0;
}
.presentacion-spa .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: ;
  grid-template-areas: "left right";
  align-items: center;
}
.presentacion-spa .left {
  grid-area: left;
}
.presentacion-spa .right {
  grid-area: right;
}
.servicios p.title {
  text-align: left;
}
.presentacion-spa .left p.text {
  text-align: left;
}

/* TOMA TURNO */

.toma-turno {
  background-color: #fff;
  padding: 50px 0 50px 0;
}
.toma-turno .container {
  display: grid;
  grid-template-rows: ;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "imagen-left right";
  justify-items: center;
}
.toma-turno .imagen-left {
  grid-area: imagen-left;
}
.toma-turno .right {
  grid-area: right;
}
.toma-turno p.text {
  text-align: left;
}

/* ---------PORTFOLIO------------ */

/* GALERIA PORTFOLIO */

.galeria-portfolio {
  padding: 50px 0 50px 0;
}
.galeria-portfolio .container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  grid-template-areas: "";
}
.galeria-portfolio ul.filtrar-tipos.flex {
  grid-gap: 30px;
}
.galeria-portfolio ul.filtrar-tipos.flex li {
}

.galeria-portfolio a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: 0.4s;
  background: #000;
}

.galeria-portfolio ul.filtrar-tipos.flex::after {
  content: "";
  position: absolute;
  left: 35px;
  right: 0;
  top: 30px;
  border-bottom: 1px solid #e8e9ee;
}

.galeria-portfolio .tipos-servicios.flex {
}

.galeria-portfolio .tipos-servicios.flex .galeria-images {
  padding: 20px 16px 0 0;
}

/* FOOTER */

.footer-20192 {
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background-color: var(--c-terciary);
  text-transform: capitalize;
}
.footer-20192 .container {
  position: relative;
}
.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}
.footer-20192 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
}
.footer-20192 .links li a {
  color: #666873;
}
.footer-20192 .links li a:hover {
  color: #fff;
}
.footer-20192 .social li {
  display: inline-block;
  position: relative;
}
.footer-20192 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: var(--c-fourth);
  color: #fff;
}
.footer-20192 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-20192 .footer-logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.footer-20192 .copyright {
  color: #666873;
}
.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  padding: 20px;
  background-color: #8186d5;
  top: -150px;
  position: relative;
}
.footer-20192 .cta h2,
.footer-20192 .cta h6 {
  line-height: 1.5;
}
.footer-20192 .cta h6 {
  font-size: 20px;
}
footer .row {
  text-align: center;
}

/* cookies */
.cookie {
  width: 420px;
  height: auto;
  display: none;
  background-color: #fff;
  position: fixed;
  bottom: 88px;
  border-radius: 10px;
  left: 5%;
  padding: 10px 20px;
}
.cookie .row {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.cookie .txt {
  float: left;
  width: 65%;
}
.txt p {
  color: #1d2d35;
  font-size: 0.8rem;
}

.cookie .accept {
  background-color: #40cc79;
  color: #fff !important;
  border-radius: 32px;
  padding: 3px 23px;
  /* align-self: center; */
  font-size: 19px;
  margin-top: 2.5%;
  margin-left: 3%;
}
.cookie .accept:hover {
  background-color: #30b867;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  /* HEADER */
  header#page-header .container {
    column-gap: 1rem;
  }

  /* SPA HOME */

  .spa-home {
    height: auto;
  }
  .spa-home .container {
    padding: 10rem 1rem 10rem 1rem;
    height: 100%;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto; */
    grid-template-areas:
      "text-left"
      "bg-image";
    justify-content: center;
  }
  .spa-home .container .text-left {
    position: absolute;
    z-index: 1;
  }
  .spa-home .redes-sociales {
    right: -6rem;
  }
  .spa-home .bg-image {
    display: none;
  }

  /* CONTACTO */

  .contacto-form .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "item-formulario"
      "item-map";
    padding: initial;
  }

  .contacto-form .item-formulario .bg {
    padding: 1.5rem;
  }

  .contacto-form .container .item-formulario .flex {
    display: block;
    width: 100%;
  }

  /* FOOTER */

  footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: ;
    grid-template-areas:
      "logo-footer"
      "item-servicios"
      "item-ayuda"
      "item-redes"
      "copy-right";
  }

  /* SOBRE NOSOTROS */

  /* linea del tiempo */

  .line-divider {
    position: relative;
    padding: 25px 20px 0;
  }
  .linea-tiempo .item {
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: "line-divider line-divider";
  }

  /* precios */

  .pricing .container {
    grid-template-columns: 1fr;
    grid-template-rows: ;
    grid-template-areas:
      "title"
      "basic-package"
      "advanced-package"
      "pro-package";
    align-items: center;
  }

  /* servicios */

  .toma-turno .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "imagen-left"
      "right";
  }
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 992px) {
  .spa-home .container .carousel.slide .carousel-inner .carousel-item img {
    opacity: 0.5;
  }
  .spa-home .container .carousel.slide .carousel-inner .carousel-item {
    background-color: white;
  }
  .spa-home .container .text-left .title {
    filter: drop-shadow(2px 4px 4px black);
  }
}

@media screen and (max-width: 700px) {
  /* HEADER */

  header#page-header .container {
    column-gap: 1rem;
    grid-template-areas: "image-logo responsive-menu";
  }

  header .responsive-menu > div {
    background-color: var(--c-primary);
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  header .responsive-menu {
    display: block;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 0;
    top: 0;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
    grid-area: responsive-menu;
  }
  header .menu-nav {
    display: none;
  }

  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper {
    clip-path: circle(75%);
  }
  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 5%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    background: #fff;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn {
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .wrapper ul {
    position: absolute;
    top: 50%;
    width: max-content;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: left;
  }
  .wrapper ul li {
    margin: 15px 0;
  }
  .wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 25px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    border: #000;
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after {
    transform: scaleY(1);
  }
  .wrapper ul li a:hover {
    color: #fff;
  }
  input[type="checkbox"] {
    display: none;
  }

  /* SPA HOME */

  .spa-home .redes-sociales {
    top: 13%;
  }
  .spa-home .redes-sociales ul {
    display: flex;
  }
  .spa-home .btn-consulta {
    display: flex;
    justify-content: center;
  }

  /* ITEMS GARANTIZADO */

  .items-garantizado .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "item-one"
      "item-two"
      "item-three"
      "item-four";
    justify-items: center;
  }

  /* CUIDADO CALIFICADO */

  .cuidado-calificado .container {
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas:
      "title"
      "btn-precios";
  }

  /* SERVICIOS */

  .servicios .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "text"
      "item-first"
      "item-last";
    /* gap: 5%; */
  }

  /* SECTION CONTACTO */

  .bg-principal {
    background-image: none;
    background-color: var(--c-fourth);
  }

  .bg-principal .container .text-left .title {
    font-size: 2.5rem;
  }

  .redes-sociales {
    display: none;
  }

  .contacto-icons .container {
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas:
      "phone-contact"
      "mail-contact"
      "map-contact";
  }

  /* servicios */

  .presentacion-spa .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "left"
      "right";
  }

  /* SOBRE NOSOTROS */

  .quienes-somos .container {
    grid-template-columns: 1fr;
    grid-template-rows: ;
    grid-template-areas:
      "title"
      "info-fundadora"
      "info-peluquero"
      "info-estilista"
      "info-gerente";
  }

  /* cookies */
  .cookie {
    left: 0;
  }
}
