.galeria-portfolio {
  @include section-p;
  .container {
    display: grid;
    ul.filtrar-tipos.flex {
      grid-gap: 30px;
      li {
      }
      a::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        transition: 0.4s;
        background: #000;
      }
    }
    ul.filtrar-tipos.flex::after {
      content: "";
      position: absolute;
      left: 35px;
      right: 0;
      top: 30px;
      border-bottom: 1px solid #e8e9ee;
    }
    .tipos-servicios.flex {
      .galeria-images {
        padding: 20px 16px 0 0;
      }
    }
  }
}
