// Presentacion spa
.presentacion-spa {
  @include section-p;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    align-items: center;
    .left {
      grid-area: left;
      p.title {
        text-align: left;
        margin: 0;
      }
      p.text {
        text-align: left;
        margin-left: 0;
        max-width: 85%;
      }
      button.btn {
        margin-top: 0.5rem;
      }
    }
    .right {
      grid-area: right;
    }
  }
}
// Servicio spa
.servicios-spa {
  @include section-p;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    .galeria .flex {
      gap: 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
// Toma turno
.toma-turno {
  background-color: nth($list: $c-basics, $n: 1);
  @include section-p;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen-left right";
    justify-items: center;
    .imagen-left {
      grid-area: imagen-left;
    }
    .right {
      grid-area: right;
      h3.title{
        margin: 0;
      }
      p.text {
        text-align: left;
      }
      button.btn{
        margin-top: 0.5rem;
      }
    }
  }
}
