// Header

header#page-header {
  background-color: $color-terciario;
  position: fixed;
  grid-area: header;
  height: auto;
  padding: $medida-espacios;
  display: block;
  width: 100%;
  top: 0;
  z-index: 6;
  .container {
    display: grid;
    padding: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image-logo menu-nav";
    justify-items: center;
    max-width: initial;
    column-gap: 9rem;
    align-items: center;
  }
  .menu-nav {
    grid-area: menu-nav;
  }
  ul.menu{
    display: flex;
    flex-wrap: nowrap;
  }
  .menu-item a {
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: $color-secundario;
    letter-spacing: 0.08em;
    font-weight: 500;
    font-size: 1rem;
  }
  .menu-item a:hover {
    color: $color-cuarto;
    border-radius: 6px;
    border: 0px solid transparent;
  }
  .page-header li.menu-item a:active {
    color: nth($list: $c-basics , $n: 1);
  }
  .page-header figure.image-logo {
    grid-area: image-logo;
  }
  .responsive-menu {
    display: none;
  }
}
