html {
  overflow-x: hidden;
}
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: nth($list: $c-basics, $n: 6);
}
a,
a:hover {
  text-decoration: none;
  color: nth($list: $c-basics, $n: 1);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
.btn,
button,
input,
textarea {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input,
textarea {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  max-width: 100%;
}
.redes-sociales li > a > img {
  max-width: initial;
}
.redes-footer li > a > img {
  max-width: initial;
}
iframe {
  width: 100%;
}
.container {
  width: 100%;
  height: auto;
  // max-width: 1200px;
  position: relative;
  z-index: 5;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3;
  padding: 10px 0px;
  text-transform: capitalize;
  animation-duration: 2.5s;
}
.title-flex {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;
  padding: 10px;
  text-transform: capitalize;
  padding-left: 0;
}
.subtitle-flex {
  padding: 0px 0 30px 0;
  text-transform: capitalize;
}
.text {
  text-align: center;
  max-width: 786px;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  padding: 10px 0;
}
.text-flex {
  padding: 10px;
}
.btn {
  background-color: $color-principal;
  font-size: 1rem;
  padding: 0.625rem 2.188rem;
  display: inline-block;
  border-radius: 6px;
  border: 0px solid transparent;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.btn:hover {
  background-color: $color-terciario;
  color: $color-principal;
}
.flex {
  display: flex;
  gap: 5%;
}
.redes-sociales {
  position: absolute;
  z-index: 3;
  right: -6rem;
}
.redes-sociales li {
  margin-top: 5px;
}
.redes-sociales li a {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px nth($list: $c-basics, $n: 6);
  background-color: nth($list: $c-basics, $n: 1);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.line {
  position: relative;
  border-bottom: 1px solid nth($list: $c-basics, $n: 7);
  width: 12%;
}

.cuidado-calificado {
  @include section-p;
  background-color: $color-cuarto;
  .container {
    display: grid;
    grid-template-areas: "title btn-precios";
    align-items: center;
    justify-content: space-evenly;
  }
  h3.title {
    grid-area: title;
    color: nth($list: $c-basics, $n: 1);
  }
  .btn-precios {
    grid-area: btn-precios;
  }
  .btn-precios button.btn {
    background: #ffedd5;
  }
}

.bg-principal {
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  color: #fff;
  background-image: url(../img/bg-imagen-02.jpg);
  background-position: center left;
}
.container {
  display: grid;
  grid-template-areas:
    "title-bg"
    "text-left";
}
.container .text-left {
  grid-area: text-left;
}

.container .title-bg {
  grid-area: title-bg;
}
.container .text-left .title {
  text-shadow: 0 0 15px #6e6e6e;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: #29293a;
  font-size: 3.625rem;
}
.container .text-left {
}
.container .text-left ul {
  display: flex;
  color: #29293a;
}
.container .text-left ul > li {
}
.container .text-left ul > li .redirection {
  margin-right: 10px;
  color: #29293a;
}
.container .text-left ul > li .redirection::after {
  content: "";
  display: inline-block;
  border: solid #29293a;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-transform: translateX(60%) rotate(-47deg);
}
.container .text-left ul .url-actual {
  margin-left: 10px;
  text-transform: capitalize;
}
.line p {
  text-transform: uppercase;
  font-size: 12px;
}
p.title-bg {
  color: #29293a;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  padding-left: 36px;
  font-family: "Oswald", sans-serif;
}
p.title-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em;
  width: 30px;
  border-bottom: 1px solid;
}

.bubbly-button {
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-principal;
  color: $color-secundario;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 15px $color-principal;
  border-radius: 1rem;

  .text-btn{
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
  }
  &:focus {
    outline: 0;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, $color-principal 20%, transparent 30%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $color-principal 15%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
      15% 15%, 10% 10%, 18% 18%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, $color-principal 15%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%),
      radial-gradient(circle, $color-principal 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
      20% 20%;
  }

  &:active {
    transform: scale(0.9);
    background-color: darken($color-principal, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
