


@media screen and (max-width: 900px) {
  // SPA HOME
  .spa-home {
    height: auto;
    .container {
      padding: 10rem 1rem 10rem 1rem;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-areas:
        "text-left"
        "bg-image";
      justify-content: center;
      .text-left {
        position: absolute;
        z-index: 1;
      }
      .redes-sociales {
        right: -6rem;
      }
      .bg-image {
        display: none;
      }
    }
    // CAROUSEL
    .spa-home .container .carousel.slide .carousel-inner .carousel-item {
      background-color: nth($list: $c-basics, $n: 1);
      img {
        opacity: 0.5;
      }
    }
    .spa-home .container .text-left .title {
      filter: drop-shadow(2px 4px 4px black);
    }
  }
  //   Contacto
  .contacto-form {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "item-formulario"
        "item-map";
      padding: initial;
      .item-formulario .bg {
        padding: 1.5rem;
        .flex {
          display: block;
          width: 100%;
        }
      }
    }
  }
  //   Footer
  footer .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo-footer"
      "item-servicios"
      "item-ayuda"
      "item-redes"
      "copy-right";
  }

  //   SOBRE NOSOTROS

  // Linea del tiempo
  .line-divider {
    position: relative;
    padding: 25px 20px 0;
  }
  .linea-tiempo .item {
    grid-template-areas: "line-divider line-divider";
  }
  // Pricing
  .pricing .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "basic-package"
      "advanced-package"
      "pro-package";
    align-items: center;
  }
  //   Servicios
  .toma-turno .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "imagen-left"
      "right";
  }
}
@media (min-width: 992px) {
  // NAV
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-toggler {
      display: none;
    }
    .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  // HEADER
  header#page-header .container {
    column-gap: 1rem;
    grid-template-areas: "image-logo responsive-menu";
    .responsive-menu {
      display: block;
      position: absolute;
      right: 0;
      background-color: transparent;
      border: 0;
      top: 0;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -ms-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
      grid-area: responsive-menu;
      .responsive-menu > div {
        background-color: $color-principal;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }
      .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
        ul {
          position: absolute;
          top: 50%;
          width: max-content;
          left: 50%;
          transform: translate(-50%, -50%);
          list-style: none;
          text-align: left;
          li {
            margin: 15px 0;
            a {
              color: none;
              text-decoration: none;
              font-size: 1.5rem;
              font-weight: 500;
              padding: 5px 25px;
              color: nth($list: $c-basics, $n: 1);
              border-radius: 50px;
              background: nth($list: $c-basics, $n: 2);
              position: relative;
              line-height: 50px;
              transition: all 0.3s ease;
            }
            a:after {
              position: absolute;
              content: "";
              background: nth($list: $c-basics, $n: 1);
              border: nth($list: $c-basics, $n: 2);
              width: 104%;
              height: 110%;
              left: -2%;
              top: -5%;
              border-radius: 50px;
              transform: scaleY(0);
              z-index: -1;
              animation: rotate 1.5s linear infinite;
              transition: transform 0.3s ease;
            }
            a:hover:after {
              transform: scaleY(1);
            }
            .wrapper ul li a:hover {
              color: nth($list: $c-basics, $n: 1);
            }
          }
        }
      }
      #active:checked ~ .wrapper {
        clip-path: circle(75%);
      }
      .menu-btn {
        position: absolute;
        z-index: 2;
        right: 5%;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: nth($list: $c-basics, $n: 2);
        cursor: pointer;
        background: nth($list: $c-basics, $n: 1);
        transition: all 0.3s ease-in-out;
      }
      #active:checked ~ .menu-btn {
        color: nth($list: $c-basics, $n: 1);
      }
      #active:checked ~ .menu-btn i:before {
        content: "\f00d";
      }
      input[type="checkbox"] {
        display: none;
      }
    }
    .menu-nav {
      display: none;
    }
  }
  //   Spa home
  .spa-home .text-left {
    .redes-sociales {
      top: 13%;
      ul {
        display: flex;
      }
    }
    btn-consulta {
      display: flex;
      justify-content: center;
    }
  }
  //   Items garantizado
  .items-garantizado {
    .container {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "item-one"
        "item-two"
        "item-three"
        "item-four";
      justify-items: center;
    }
  }
  //   Cuidado Calificado
  .cuidado-calificado {
    .container {
      grid-template-columns: 1;
      grid-template-rows: 2;
      grid-template-areas:
        "title"
        "btn-precios";
    }
  }
  //   Servicios
  .servicios {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "title"
        "text"
        "item-first"
        "item-last";
    }
  }

  //   CONTACTO

  .bg-principal {
    background-image: none;
    background-color: $color-cuarto;
    .container {
      .text-left .title {
        font-size: 2.5rem;
      }
      .redes-sociales {
        display: none;
      }
    }
  }
  .contacto-icons {
    .container {
      grid-template-areas:
        "phone-contact"
        "mail-contact"
        "map-contact";
    }
  }
  //   Servicios
  .presentacion-spa {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "left"
        "right";
    }
  }
  //   Sobre nosotros
  .quienes-somos {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "info-fundadora"
        "info-peluquero"
        "info-estilista"
        "info-gerente";
    }
  }

  //   Cookies
  .cookie {
    left: 0;
  }
}

// CARDS
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .quality-team {
    width: 100%;
    margin: 0 auto;
    .card-box {
      flex: auto;
    }
  }
}
@media only screen and (min-width: 768px) {
  .quality-team .card-box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .quality-team {
    margin: 0 auto;
  }
}
@media screen and (max-width: 460px) {
  .card-box .item-card {
    margin: 1rem;
  }
}
