@mixin flex {
  display: flex;
  gap: 5%;
}
@mixin a {
  text-decoration: none;
  color: $color-hover;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@mixin section-p {
  padding: 3.125rem 0 3.125rem 0;
}
@mixin padding-form {
  padding: 0.625rem 0.625rem 0.625rem 0;
}

@mixin bg-principal {
  .bg-principal {
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    color: #fff;
    background-image: url(../img/bg-imagen-02.jpg);
    background-position: center left;
  }
  .bg-principal .container {
    display: grid;
    grid-template-areas:
      "title-bg"
      "text-left";
  }
  .bg-principal .container .text-left {
    grid-area: text-left;
  }

  .bg-principal .container .title-bg {
    grid-area: title-bg;
  }
  .bg-principal .container .text-left .title {
    text-shadow: 0 0 15px #6e6e6e;
    margin-bottom: 30px;
    padding-bottom: 30px;
    color: #29293a;
    font-size: 3.625rem;
  }
  .bg-principal .container .text-left {
  }
  .bg-principal .container .text-left ul {
    display: flex;
    color: #29293a;
  }
  .bg-principal .container .text-left ul > li {
  }
  .bg-principal .container .text-left ul > li .redirection {
    margin-right: 10px;
    color: #29293a;
  }
  .bg-principal .container .text-left ul > li .redirection::after {
    content: "";
    display: inline-block;
    border: solid #29293a;
    border-width: 0 2px 2px 0;
    padding: 3px;
    -webkit-transform: translateX(60%) rotate(-47deg);
  }
  .bg-principal .container .text-left ul .url-actual {
    margin-left: 10px;
    text-transform: capitalize;
  }
  .bg-principal .line p {
    text-transform: uppercase;
    font-size: 12px;
  }
  .bg-principal p.title-bg {
    color: #29293a;
    text-transform: uppercase;
    position: relative;
    line-height: 1.5;
    padding-left: 36px;
    font-family: "Oswald", sans-serif;
  }
  .bg-principal p.title-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.8em;
    width: 30px;
    border-bottom: 1px solid;
  }
}
