@mixin .flex {
  display: flex;
  gap: 5%;
}
@mixin .container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
  z-index: 5;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
