@mixin flex {
  display: flex;
  gap: 5%;
}
@mixin a {
  text-decoration: none;
  color: var(--c-hover);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@mixin section-p {
  padding: 3.125rem 0 3.125rem 0 ;
}
@mixin padding-form {
  padding: 0.625rem 0.625rem 0.625rem 0 ;
}